/**主内容区************************************************************************************************/
.mainContent{clear:both;}
.mainContentInner{margin:0 5%;clear:both;}
.mainContentInner .imgContainerDiv{text-align:left;max-width:100%;min-width:1000px !important;}

/**单张图片区***********************************************************************************************/
.caseUl li{float:left;display:inline;margin-left:0px;width:252px;height:186px;position:relative;cursor: pointer;}
.caseUl li .singleDiv{display:block;width:210px;padding:16px;background:url(/aYm/images/qt/exJquery/exJquery_p_002.png) no-repeat;position:absolute;bottom:14px;left:0;}
.caseUl li .singleDiv .cover{background:#282828;opacity:.3;filter:alpha(opacity=30);position:absolute;top:16px;left:16px;width:210px;height:140px;z-index:2;display:none;}
.caseUl li .singleDiv .x
  ,.caseUl li .singleDiv .y{width:60px;height:60px;top:60px;position:absolute;z-index:3;display:none;}
.caseUl li .singleDiv .x{background:url(/aYm/images/qt/exJquery/exJquery_p_003.png);left:50px;}
.caseUl li .singleDiv .y{background:url(/aYm/images/qt/exJquery/exJquery_p_004.png);right:50px;}
.caseUl li .singleDiv img{width:210px;height:140px;}

/**左侧导航区***********************************************************************************************/
.slideNavDivStyle{float:left;font-size:14px;}
.slideNavDivStyle .slideNavUlStyle{list-style:none;margin:0px;padding:0px;float: left;margin-left: 0px;}
.slideNavDivStyle .slideNavUlStyle li.slidingElement h3
  ,.slideNavDivStyle .slideNavUlStyle li.slidingElement a{display:block;width:104px;padding-top:5px;padding-bottom:5px;padding-left:20px;padding-right:30px;height:22px;margin:0;margin-bottom:5px;}
.slideNavDivStyle .slideNavUlStyle .current{color:#2eb6aa !important;}
.slideNavDivStyle .slideNavUlStyle li.last a{margin-bottom: 0px;}
.slideNavDivStyle .slideNavUlStyle li.slidingElement{}
.slideNavDivStyle .slideNavUlStyle li.slidingElement h3{color:#fff;background:#333;font-weight:normal;}
.slideNavDivStyle .slideNavUlStyle li.slidingElement a{color:#D2D2D2;background:#2C2C2C;border-right:1px solid #000000;border-top:1px solid #000000;border-bottom:1px solid #000000;text-decoration:none;}
.slideNavDivStyle .slideNavUlStyle li.slidingElement a:hover{color:#2eb6aa;}

.slidingElement .sLiBkGd{background-position: 0px 3px;}
.slidingElement .sLiBkGd2{background-position: 0px -20px;}
.slidingElement .sLiBkGd3{background-position: 0px -44px;}
.slidingElement .sLiBkGd4{background-position: 0px -68px;}
.slidingElement .sLiBkGd5{background-position: 0px -90px;}
.slidingElement .sLiBkGd6{background-position: 0px -112px;}
.slidingElement .sLiBkGd7{background-position: 0px -134px;}
.slidingElement .sLiBkGd8{background-position: 0px -156px;}

/**搜索区*************************************************************************************************/
.m-listSer{font-size:14px;min-height:40px;position:relative;left:0px;padding-bottom:10px;margin-bottom:10px;border-bottom:2px solid #2eb6aa;}
.m-listSer .searchDivInner .on{display:block;}
.m-listSer .searchDivTj{display:none;position:relative;}
.m-listSer .searchDivTj span{background:none repeat scroll 0 0 #fff;border-radius:2px;cursor:pointer;display:inline-block;line-height:100%;margin:10px 8px 0 0;padding:6px 16px;}
.m-listSer .searchDivTj span:hover{background:none repeat scroll 0 0 #2eb6aa;color:#fff;}
.m-listSer .searchDivTj .current{background:none repeat scroll 0 0 #2da296;color:#fff;}
.m-listSer .searchDivTj .current:hover{color:#fff;}
.m-listSer .searchDivTj .currentDisable{background:none repeat scroll 0 0 #eee;color:#000;}
.m-listSer .searchDivTj .currentClose{background:url(/aYm/images/qt/exJquery/exJquery_p_007.png) no-repeat scroll right top #2da296;color:#fff;}
.m-listSer .searchDivTj .currentClose:hover{background:url(/aYm/images/qt/exJquery/exJquery_p_007.png) no-repeat scroll right top #2eb6aa;color:#fff;}
.m-listSer .searchDivInput{background:none repeat scroll 0 0 #fff;border:1px solid #ccc;border-radius:4px;height:34px;position:relative;top:10px;margin-bottom:10px;width:300px;}
.m-listSer .searchDivInput input{outline:medium none;background:none repeat scroll 0 0 rgba(0,0,0,0);border:medium none;margin:0;padding:8px 15px;width:75%;}
.m-listSer .searchDivInput .s-bg-search{background-image:url(/aLi/images/qt/onlineDesign/onlineDesign_p_002-01.png)!important;background-repeat:no-repeat!important;display:inline-block;height:34px;margin-top:-17px;position:absolute;right:0;top:50%;vertical-align:middle;width:47px;cursor:pointer;background-position:10px 5px;border-left:1px dashed #eee;}
.m-listSer .searchDivInput .s-bg-search:hover{background-position:10px -28px;}

/**数据迭代区*********************************************/
.f-card{border:1px solid #ccc;}
.u-listShow{width:210px;border-radius:6px;overflow:hidden;}
.u-listShow .item-top{position:relative;width:210px;overflow:hidden;border-bottom: 1px solid #ccc}
.u-listShow .item-top img{width:100%;}
.u-listShow .item-top span{display:none;position:absolute;top:0;left:0;z-index:4;width:100%;height:100%;background:rgba(0,0,0,0.1);}
.u-listShow .item-top p{position:absolute;top:100%;left:0;z-index:5;width:202px;height:202px;padding:10px;-webkit-transition:top .2s;-moz-transition:top .2s;-ms-transition:top .2s;-0-transition:top .2s;transition:top .2s;}
.u-listShow .item-top p.show{top:0;}
.u-listShow .item-top p img{width:100%;}
.u-listShow .item-bottom{position:relative;}
.u-listShow .item-bottom .tit{position:relative;height:40px;padding:18px 10px 7px;}
.u-listShow .item-bottom .tit h4{width:170px;height:28px;padding-bottom:12px;overflow:hidden;}
.u-listShow .item-bottom .tit h4 a{font-size:14px;color:#333;}
.u-listShow .item-bottom .tit p{color:#999;}
.u-listShow .item-bottom .tit p a{color:#666;}
.u-listShow .item-bottom .con{position:relative;width:100%;height:40px;overflow:hidden;border-top:1px solid #f4f4f4;}
.u-listShow .item-bottom .con p{width:140px;padding-left:10px;padding-top:12px;line-height:14px;}
.u-listShow .item-bottom .con p a
  ,.u-listShow .item-bottom .con p em{display:inline-block;min-width:5px;height:14px;margin-bottom:14px;color:#999;line-height:100%;}
.u-listShow .item-bottom .con strong{position:absolute;top:12px;right:10px;display:block;width:75px;text-align:right;}
.u-listShow .item-bottom .con strong a{color:#333;}
.u-listShow .item-bottom .con a{position:absolute;top:10px;right:10px;display:inline-block;width:67px;line-height:22px;background-color:#2da296;border-radius:4px;text-align:center;color:#fff;font-size:13px;}
.u-listShow .item-bottom .con strong a:hover
  ,.u-listShow .item-bottom .con p a:hover
  ,.u-listShow .item-bottom .tit h4 a:hover
  ,.u-listShow .item-bottom .tit p a:hover{color:#2da296;}
.u-listShow:hover .item-top span{display:inline-block;}
.m-listCshow{min-height:220px;}
.m-listCshow .item{float:left;position:relative;width:212px;margin-right:20px;margin-bottom:19px;}
.m-listCshow .item h4{color:#333E4B;}
.m-listCshow .item a:hover{text-decoration:none;}
.m-listCshow .item .tit p
  ,.m-listCshow .item .con{color:#999;}
.m-listCshow .item .u-listshow{position:absolute;top:0;left:0;}
.m-listCshow .item .u-listshow.active{z-index:10;}
.m-listCshow .item.active{z-index:10;}
.m-listCshow .item:hover a{text-decoration:none;}
.m-listCshow .listShow-more{padding-right:24px;}
.m-listCshow .listShow-more a{display:inline-block;width:100%;height:50px;line-height:50px;}
.m-listCshow .listShow-more a:hover{text-decoration:none;color:#71b643;}

/**分页(覆盖)************************************************/
.splitPageDivStyle{margin-left:0 !important;}